<%= render "layouts/navbar" %>
<%= link_to "Home", root_path %>
<ul>
    <% @shopping_list_items.each do |shopping_list_item| %>
        <li><%= shopping_list_item.recipe_ingredient.name %></li>
    <% end %>
</ul>
